.Form {
  margin: 10px;
  border: 1px solid  black;
  border-radius: 7px;
  padding: 10px;
  overflow: auto;
  height: 30%;
}

.Fieldset {
  position: static;
  border-radius: 5px;
  border-width: 3px;
  text-align: center;
  position: relative;
  margin: 5px;
}

.Text {
  position: relative;
  width: 90%;
  margin: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.Input {
  position: relative;
  margin: 5px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.Button {
  border-radius: 7px;
  display: block;
  margin: 0 auto;
}

.hover {
  width: 10%;
}

